body {
    background-color: black;
    margin: 0;
}
.hair {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
span {
    display: flex;
    align-items: center;
}
.work_time {
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.work_time * {
    font-size: 12px;
    font-family: 'PT Sans', sans-serif;
    color: gray;
    margin-right: 13px;
}
.icon_phone {
    width: 13.36px;
    background-image: url(../icon/phone.png);
    background-repeat: no-repeat;
    background-size: 100%;
    transform: translateY(3px);
}

.login {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.login * {
    text-decoration: none;
    color: gray;
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    line-height: 44px;
}
.icon_login {
    background-image: url(../icon/login.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    transform: translateY(2.5px);
}
.head {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #0F0F0F;
}
.logo {
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 104px;
    height: 49px;
    margin-top: 40px;
}
.function {
    display: flex;
    flex-wrap: wrap;
}
.buttons {
    display: flex;
    flex-wrap: wrap;
}
.buttons * {
    width: 136px;
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 45px;
    text-align: center;
}
.buttons *:hover {
    background-color: #1F1F1F;
    transition: 0.4s;
    cursor: pointer;
}
.function * {
    color: gray;
    font-family: 'PT Sans', sans-serif;
}
.icon {
    display: flex;
    justify-content: space-between;
    width: 80px;
    padding-top: 41px;
    margin-left: 30px;
}
.icon * {
    margin: 0 auto;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 22px;
    height: 22px;
}
.icon *:hover {
    padding: 3px;
    transition: 0.4s;
    cursor: pointer;
}
.shop {
    background-image: url(../icon/shop.png);
    margin-right: 29px;
}
.search {
    background-image: url(../icon/search.png);
    margin-right: 5px;
}

@media (max-width: 880px) {
    .logo {
        display: none;
    }
    .function {
        margin: 0 auto;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .function * {
        padding: 0;
    }
}

@media (max-width: 600px) {
    .hair div {
        width: 100%;
    }
    span {
        display: none;
    }
    .login {
        justify-content: center;
    }
    .hair * {
        font-size: 2.2vw;
    }
    .function {
        padding-top: 20px;
        padding-bottom: 20px;
        width: 100%;
    }
    .function * {
        font-size: 2.5vw;
    }
    .function .buttons {
        width: 100%;
        justify-content: center;
    }
    .icon {
        width: 100%;
        padding-top: 20px;
    }
    .icon p {
        margin: 0 auto;
        display: inline-block;
    }
}