.info {
    background-image: url(../img/bg_info.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.info .infoIn {
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 59%;
    margin: 0 auto;
}
.info div {
    flex: 1;
}
.info div * {
    text-align: left;
    color: white;
}
.info div p {
    font-family: 'PT Sans', sans-serif;
    line-height: 21px;
    font-size: 13px;
    padding-top: 12px;
}

.categories {
    padding: 0 31px 0 31px;
    display: flex;
    flex-wrap: wrap;
}
.categories h1 {
    width: 100%;
}
.infoButton {
    display: block;
    background-color: black;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    padding: 15px 20px;
    margin: 15px;
}
.infoButton:hover {
    background-color: white;
    color: black;
    transition: 0.4s;
}

.mail {
    margin-top: 40px;
    display: flex;
}
.mail input {
    background-color: rgba(255, 255, 255, 0.4);
}
::placeholder {
    color: white;
    opacity: 0.5;
    margin-left: 20px;
}
.mail a {
    padding: 10px 20px;
    margin: 0;
}

.end p {
    width: inherit;
    font-size: 14px;
    color: white;
    font-family: 'PT Sans', sans-serif;
    margin-bottom: 10px;
    margin-top: 0;
    text-align: center;
}

@media (max-width: 1811px) {
    .info {
        background-size: cover;
        background-position: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .info .infoIn {
        width: 1200px;
    }
    
}
@media (max-width: 1368px) {
    .info .infoIn {
        width: 1070px;
    }
}
@media (max-width: 1120px) {
    .info .infoIn {
        width: 1070px;
    }
}

@media (max-width: 1107px) {
    .info .infoIn {
        width: 90%;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .info .title {
        font-size: 25px;
        margin-bottom: 25px;
    }
    .info div p {
        font-size: inherit;
        margin: 0;
    }
    .info div {
        flex: 50%;
    }
    .categories {
        padding: 0;
        display: flex;
        justify-content: center;
    }
    .categories .title {
        text-align: center;
    }
}

@media (max-width: 745px) {
    .info div {
        flex: 100%;
    }
    .categories {
        justify-content: left;
    }
    .categories .title {
        text-align: left;
    }
    .infoButton {
        margin-left: 0;
    }
}