.receipt {
    width: 100%;
    margin-top: 120px;
}

.block {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 210px 150px 210px;
}

.block div {
    margin-top: 20px;
}
.receipt .blockClock {
    padding-left: 45px;
    padding-right: 45px;
    width: 220px;
}
.receipt .blockClock p {
    font-size: 18px;
}