.receipt {
    width: 100%;
    margin-top: 120px;
}

.block {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 210px 150px 210px;
}

.block div {
    margin-top: 20px;
}
.receipt .blockClock {
    padding-left: 45px;
    padding-right: 45px;
    width: 220px;
}
.receipt .blockClock p {
    font-size: 18px;
}

@media (max-width: 1659px) and (min-width: 1100px) {
    .block {
        padding: 30px 180px 150px 180px;
    }
    .receipt .blockClock {
        width: 180px;
    }
    .receipt .blockClock p {
        font-size: 15px;
    }
}

@media (max-width: 1099px) and (min-width: 725px) {
    .receipt {
        margin-top: 60px;
    }
    .block {
        padding: 30px 60px 150px 60px;
    }
    .receipt .blockClock {
        width: 140px;
    }
    .receipt .blockClock p {
        font-size: 15px;
    }
}

@media (max-width: 667px) {
    .receipt {
        margin-top: 40px;
    }
    .block {
        padding: 10px;
    }
    .clock {
        padding: 15px 5px 15px 5px;
    }
    .clock img {
        width: inherit;
        height: inherit;
    }
}