.season {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.leftBlock {
    flex: 1;
    padding: 30px;
    margin-bottom: 50px;
}
.leftBlock {
    text-align: center;
}
.title {
    color: white;
    font-family: 'Playfair Display', serif;
    margin-bottom: 40px;
    text-align: center;
}
.product {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.blockClock {
    width: 11.4vw;
    padding-left: 30px;
    padding-right: 80px;
}
.clock {
    width: inherit;
    background-color: #191B1C;
    margin-bottom: 25px;
    padding: 45px 23px 45px 23px;
}
.clock:hover {
    background-color: #1F1F1F;
    cursor: pointer;
    transition: 0.4s;
}
.clock img {
    width: inherit;
}
.clockText {
    font-size: 1vw;
    font-family: 'Playfair Display', serif;
    color: white;
    display: flex;
    width: inherit;
    line-height: 10px;
}

/*правая часть*/

.rightBlock {
    flex: 0.7;
    background-image: url(../img/bg_right_block.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    padding-left: 80px;
    padding-right: 80px;
    width: 100%;
    height: 38vw;
}
.rightBlock * {
    text-align: center;
    position: relative;
    top: 60%;
    left: 0;
    right: 0;
}
.button {
    font-size: inherit;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    line-height: 1.6vw;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    display: block;
    width: 6vw;
    height: 1.5vw;
    margin: 0 auto;
    margin-top: 30px;
    padding: 12px 28px;
}
.button:hover {
    background-color: white;
    color: black;
    transition: 0.4s;
}

/*коллекция*/

.leftBlockBottom {
    flex: 0.5;
    background-repeat: no-repeat;
    background-image: url(../img/bg_left_block.png);
    background-position: center;
    background-size: cover;
}

.rightBlockBottom {
    flex: 0.5;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.rightBlockBottom p {
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 21px;
    max-width: 470px;
    margin: 0 auto;
    padding-top: 40px;
}
.bottom {
    width: 255px;
}

@media (max-width: 1834px) {
    .leftBlock {
        flex: 1.5;
        padding: 30px;
    }
    .product {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 1470px) {
    .leftBlock {
        flex: 100%;
    }
    .rightBlock {
        flex: 100%;
        height: 40vw;
    }
    .product {
        justify-content: space-evenly;
    }
    .clock {
        margin-right: 0;
    }

    .rightBlock {
        background-position: center;
        margin: 0 auto;
        padding: 0;
        height: 550px;
    }
    .rightBlock div {
        text-align: center;
        position: relative;
        bottom: inherit;
    }
    .leftBlockBottom {
        display: none;
    }
    .rightBlockBottom {
        background-repeat: no-repeat;
        background-image: url(../img/bg_left_block.png);
        background-position: center;
        background-size: cover;
        flex: 100%;
    }
}

@media (max-width: 1185px) {
    .season .title {
        margin-bottom: 3vw;
    }
    .rightBlock {
        height: 500px;
    }
    .rightBlock .button {
        font-size: 1.5vw;
        width: 6vw;
        height: 1.5vw;
    }
}

@media (max-width: 940px) {
    .rightBlock .button {
        font-size: 12px;
        width: 60px;
        height: 7px;
        line-height: 10px;
    }
    .season .title {
        margin-bottom: 20px;
    }
    .rightBlockBottom p {
        padding-top: 0;
        margin-top: 30px;
    }
}

@media (max-width: 930px) {
    .clockText {
        font-size: 1.3vw;
    }
}

@media (max-width: 666px) {
    .leftBlock {
        margin-bottom: 0;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .rightBlock {
        height: 400px;
    }
    .season .title {
        margin-top: 0;
        font-size: 23px;
    }
    .product {
        padding-top: 20px;
    }
    .blockClock {
        width: inherit;
        padding: 0;
    }
    .clock {
        padding: 20px;
    }
    .clock img {
        width: 100px;
        height: 100px;
    }
    .clockText {
        font-size: 10px;
    }
}

@media (max-width: 540px) {
    .leftBlock {
        padding-left: 0;
        padding-right: 0;
    }
    .product {
        padding-left: 0;
        padding-right: 0;
    }
    .clock img {
        width: 15vw;
        height: 15vw;
    }
    .rightBlockBottom {
        padding-left: 30px;
        padding-right: 30px;
    }
    .rightBlockBottom p {
        font-size: 13px;
    }
}
@media (max-width: 376px) {
    .rightBlockBottom .button {
        padding-left: 0;
        padding-right: 0;
        width: 90%;
    }
}